@charset "UTF-8";

/* 共通レイアウト */
.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul{
  display: flex;
  gap: 20px;
}
.logo img{
  height: 40px;
}
