@charset "UTF-8";

/* 共通レイアウト */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
section {
  margin-bottom: 80px;
}
section h2 {
  margin-bottom: 30px;
}
/* body */
body {
  background-color: #fffbf2;
  color: #3f3e3f;
  font-weight: 300;
  font-family: "M PLUS 1", sans-serif;
}
section {
  padding: 80px 0;
}

/* header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  background-color: #ffc5cd;
  border-radius: 50px;
  padding: 5px 30px;
}
.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.nav a {
  text-decoration: none;
  color: #3f3e3f;
}
.logo img {
  height: 40px;
}

/* main visual */
.mv {
  padding: 20px 40px 0;
  overflow: hidden;
  position: relative;
}
/* mv-bg */
.mv-bg {
  width: 100%;
  display: block;
}
.mv h2 {
  display: none;
}
/* mv-ロゴ */
.mv-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 500px;
}

/* about */
.about-inner {
  display: flex;
}
.about-inner img {
  width: 50%;
  max-width: 720px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.about-text {
  flex: 1;
  background-image: url(../img/about-back.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-text h2 {
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 20px;
}
.about-box {
  background-color: #fff;
  border: 3px solid #c62328;
  padding: 25px 35px;
  width: 68%;
}
.about-box p {
  line-height: 1.8;
  font-size: 12px;
}

/* skill */
.skill {
  text-align: center;
}
.skill h2 {
  display: inline-block;
  border: 2px solid #fd6fa9;
  border-radius: 50px;
  padding: 5px 100px;
}
.skill-list {
  display: flex;
  gap: 30px;
}
.card {
  background-color: #ffdde2;
  padding: 20px;
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card p {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 0 10px;
}
.icon {
  border: 3px solid #c62328;
  background-color: #fff;
  width: 65%;
  aspect-ratio: 3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.icon img {
  width: 50%;
}

/* works */
.works {
  text-align: center;
}
.works h2 {
  display: inline-block;
  border: 2px solid #fd6fa9;
  border-radius: 50px;
  padding: 5px 100px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
}
.works-item {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 50px;
  text-decoration: none;
  color: #3f3e3f;
}
.works-img {
  background-color: #fff;
  padding: 3px 70px;
}
.works-item img {
  width: 100%;
  display: block;
}
.works-item p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

/* footer */
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer-top {
  background-repeat: no-repeat;
  padding: 100px 40px;
  position: relative;
  text-align: center;
}
.footer-bg {
  width: 100%;
  display: block;
}
footer p {
  text-align: center;
  margin-top: 15px;
}
.contact-btn {
  display: inline-block;
  background-color: #9ebed9;
  border-radius: 999px;
  padding: 15px 80px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;

  position: absolute;
  bottom: 40%;
  left: 0%;

  width: 100%;
  padding: 0 70px;
}

/* works-detail */
.works-detail h2 {
  border: none;
  border-radius: 0;
  font-size: 26px;
}
.works-content {
  display: flex;
  gap: 30px;
  text-align: left;
}
.works-text h3 {
  font-size: 24px;
}
.works-text p {
  font-size: 16px;
}
.detail-img {
  align-self: start;
  width: 55%;
  background-color: #fff;
  padding: 3px 70px;
}
.detail-img img {
  width: 100%;
}
.back-area {
  text-align: center;
  margin-top: 50px;
}
.back-btn {
  display: inline-block;
  border: 2px solid #fd6fa9;
  border-radius: 50px;
  padding: 10px 100px;
  text-decoration: none;
  color: #3f3e3f;
}

/* contact  */
.contact-wrap {
  position: relative;
}
.contact-bg {
  width: 100%;
  display: block;
}
.contact-form {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
}
.contact-form input,
.contact-form textarea {
  display: block;
  background-color: #fffff6;
  width: 100%;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.contact-form input {
  height: 50px;
}
.contact-form textarea {
  height: 100px;
}
.contact-form h2 {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
}
.contact-form label {
  font-size: 18px;
  font-weight: 400;
}
.contact-form button {
  display: block;
  margin: 0 auto;
  border: 5px solid #fffff6;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
}
