@charset "UTF-8";

/* 共通レイアウト */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
  gap: 20px;
}
.logo img {
  height: 40px;
}

/* about */
.about-inner {
  display: flex;
  gap: 40px;
}
.about-inner img {
  width: 50%;
  height: auto;
}
.about-text {
  width: 50%;
}
.about-text h2 {
  margin-bottom: 20px;
}

/* skill */
.skill {
  margin-top: 80px;
}
.skill-list {
  display: flex;
  gap: 20px;
}
.card {
  background-color: #ffdde2;
  padding: 20px;
  width: 33.3%;
  border-radius: 10px;
}

/* works */
.works {
  margin-top: 80px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
}
.works-item {
  width: 100%;
  max-width: 600px;
  margin-bottom: 50px;
  background-color: #ffff;
  padding: 7px 70px;
  margin: 0 auto;
}
.works-item img {
  width: 100%;
}
.works-item p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
